body {
  font-family: sans-serif;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
body {
  background-image: url(https://i.pinimg.com/originals/c5/af/f1/c5aff1056f6f0f4aa79652c0ef328f00.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#partesBuild {
  text-align: center;
}
#titulo {
  background-color: rgba(255, 255, 255, 0.212);
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px black;
  color: rgb(255, 221, 67);
}
#card {
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.822);
  box-shadow: px 4px;
  transition: 0.3s;
}
#card:hover {
  
  box-shadow: 10px 16px 0 rgba(255, 233, 31, 0.418);
}
#container {
  padding: 15px 25px;
}
#kushala {
  padding: 10px;
  width: 220px;
  height: 200px;
}
#filaejemplos {
  display: flex;
  justify-content: space-evenly;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
