#partesBuild {
  text-align: center;
}
#titulo {
  text-align: center;
  color: rgb(220, 243, 89);
}
#card {
  margin-right: 250px;
  overflow: hidden;
  width: 240px;
  background-color: rgb(252, 255, 90);
  box-shadow: px 4px;
  transition: 0.3s;
}
#card:hover {
  box-shadow: 5px 16px 0 rgba(251, 251, 251, 0.2);
}
#container {
  padding: 2px 16px;
}
#kushala {
  overflow: hidden;
  width: 220px;
  height: 200px;
  justify-content: center;
}
#filaejemplos {
  display: inline-flex;
  justify-content: space-between;
}
